parameters:
    bootstrapFiles:
        - ./constants.php
        - ../bootstrap.php
    paths:
        - ../../src
        - ../AppFrameworkTestClasses
        - ../AppFrameworkTests
    dynamicConstantNames:
        - APP_ROOT
        - APP_TESTS_RUNNING
        - APP_FRAMEWORK_TESTS
    ignoreErrors:
        -
            message: '#this might not be defined.#'
            path: ../../src/themes/default*
        -
            message: '#is not nullable.#'
            path: ../../src*
        -
            message: '#is unused.#'
            path: ../../src*
        -
            message: '#never read, only written.#'
            path: ../../src*
