:root {
    --bigselection-padding-regular: 13px;
    --bigselection-padding-small: 5px;
}

.bigselection {
    list-style: none;
    margin-left: 0;
}

.bigselection-wrapper.bigselection-height-limited{
    overflow-y: scroll;
    padding-right: 8px;
}

.bigselection .menu-item-description,
.bigselection .bigselection-description {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-style: italic;
    color: var(--color-text-secondary);
    display: inline-block;
}

.bigselection .bigselection-description {
    margin-left: 13px;
}

.bigselection .bigselection-description > P:last-child {
    margin-bottom: 0;
}

.bigselection .bigselection-label {
    vertical-align: top;
}

.bigselection > LI.bigselection-header {
    line-height: 50px;
    font-weight: var(--font-weight-bold);
}

.bigselection > LI.bigselection-entry {
    border: solid 1px var(--accent-borders);
    border-radius: var(--border-radius-normal);
    margin-bottom: 8px;
    cursor: pointer;
    background: var(--color-bg-content);
}

.bigselection.size-small > LI.bigselection-entry {
    border-radius: var(--border-radius-s);
    margin-bottom: 4px;
}

.bigselection > LI:last-child {
    margin-bottom: 0;
}

.bigselection > LI {
    padding-bottom: 0;
}

.bigselection > LI > A {
    display: block;
    padding: var(--bigselection-padding-regular);
    font-size: var(--font-size-l);
}

.bigselection.size-small > LI > A {
    padding: var(--bigselection-padding-small);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
    margin-bottom: 0;
}

.bigselection > LI > A:hover {
    text-decoration: none;
}

.bigselection > LI.bigselection-entry:hover {
    background: var(--color-bg-highlight-info);
    border-color: var(--color-border-active);
}

.bigselection > LI.bigselection-entry.active {
    background: var(--color-bg-active);
    border-color: var(--color-border-active);
}

.bigselection > LI.bigselection-entry.active > A {
    color: var(--color-text-inverted);
}

.bigselection > LI.bigselection-separator HR{
    margin: 30px 0;
}

.bigselection .bigselection-entry.active .bigselection-description {
    color: var(--color-text-inverted-muted);
}

.bigselection UL.bigselection-meta-controls{
    float: right;
    display: flex;
    padding: 0;
    margin: 0 var(--bigselection-padding-regular) 0 0;
    list-style: none;
}

.bigselection.size-small UL.bigselection-meta-controls{
    margin-right: var(--bigselection-padding-small);
    padding: 0;
}

.bigselection LI.bigselection-meta-control{
    margin: 0 0 0 5px;
    padding: 0;
    font-size: var(--font-size-normal);
    display:inline-block;
}
