BODY.clean-frame{
    background: var(--color-bg-document);
}

#clean-footer > .container{
    border-top: solid 1px var(--color-border);
    padding-top: 0.6rem;
    color: var(--color-text-secondary);
}
