/*
 * http://github.com/peteboere/css-crush (v4.1.3)
 */
/**
 * Color definitions for the UI: Collection of CSS variables
 * that can be used to define colors in the UI.
 *
 * @package User Interface
 */
:root {
    --color-accent-base: #fff;
    --color-accent-primary: #08c;
    --color-accent-secondary-xs: #f5f5f5;
    --color-accent-secondary-s: #ccc;
    --color-accent-secondary: #888;
    --color-accent-secondary-xl: #333;
    --color-accent-danger: #b94a48;
    --color-accent-danger-xxl: #c52320;
    --color-accent-warning: #e2500b;
    --color-accent-success: #468847;
    --color-accent-success-s: #5bb75b;
    --color-accent-info: #3a87ad;
    --color-accent-developer: #f47e00;
    --color-accent-developer-hover: #ff9d00;
    --color-accent-inactive: #999;
    --color-accent-inactive-xl: #000;
    --color-accent-inverted-text: #fff;
    --color-accent-shadow: #000;
    --color-accent-borders: #ddd;
    --color-accent-shadow-75: rgba(0,0,0,.75);
    --color-accent-shadow-25: rgba(0,0,0,.25);
    --color-accent-highlight-20: rgba(255,255,255,.2);
    --color-accent-highlight-60: rgba(255,255,255,.6);
    --color-accent-highlight-50: rgba(255,255,255,.5);
    --color-bg-document: var(--color-accent-base);
    --color-bg-content: var(--color-accent-base);
    --color-bg-inverted: var(--color-accent-secondary-xl);
    --color-bg-highlight: var(--color-accent-secondary-xs);
    --color-bg-highlight-info: #f0f5ff;
    --color-bg-highlight-info-hover: #e5f0ff;
    --color-bg-danger: #fedfdf;
    --color-bg-warning: #fff1d1;
    --color-bg-warning-hover: #ffe4be;
    --color-bg-warning-xl: var(--color-accent-warning);
    --color-bg-success: #ebf8a4;
    --color-bg-success-xl: var(--color-accent-success);
    --color-bg-code: var(--color-bg-highlight);
    --color-bg-active: var(--color-accent-primary);
    --color-border-code: #e1e1e8;
    --color-border-warning: #f2cfa5;
    --color-border-danger: var(--color-accent-danger);
    --color-border-danger-xl: var(--color-accent-danger-xxl);
    --color-border: var(--color-accent-borders);
    --color-border-active: var(--color-accent-primary);
    --color-text: var(--color-accent-shadow-75);
    --color-text-inverted: var(--color-accent-inverted-text);
    --color-text-inverted-muted: #c4c4c4;
    --color-text-muted: var(--color-accent-secondary-s);
    --color-text-muted-xl: var(--color-accent-secondary-xl);
    --color-text-secondary: var(--color-accent-secondary);
    --color-text-code: #5b5b5b;
    --color-text-danger: var(--color-accent-danger);
    --color-text-danger-hover: var(--color-accent-danger-xxl);
    --color-text-danger-xxl: var(--color-accent-danger-xxl);
    --color-text-success: var(--color-accent-success);
    --color-text-success-hover: var(--color-accent-success-s);
    --color-text-info: var(--color-accent-info);
    --color-text-warning: var(--color-accent-warning);
    --color-text-warning-xl: var(--color-text-inverted);
    --color-text-tooltip: #e4ef9e;
    --color-text-developer: var(--color-accent-developer);
    --color-text-developer-hover: var(--color-accent-developer-hover);
    --color-link: var(--color-accent-primary);
    --color-link-hover: #005580;
    --color-link-external: #063aae;
    --color-link-muted: var(--color-accent-inactive);
    --color-rating-1star: var(--color-text-danger-xxl);
    --color-rating-2star: var(--color-text-warning);
    --color-rating-3star: #fff131;
    --color-rating-4star: #88ff31;
    --color-rating-5star: #00ff45;
    --color-badge-default-bg: var(--color-accent-inactive);
    --color-badge-default-text: var(--color-text-inverted);
    --color-badge-success-bg: var(--color-accent-success);
    --color-badge-success-text: var(--color-text-inverted);
    --color-badge-important-bg: var(--color-accent-danger);
    --color-badge-important-text: var(--color-text-inverted);
    --color-badge-warning-bg: var(--color-accent-warning);
    --color-badge-warning-text: var(--color-text-inverted);
    --color-badge-info-bg: var(--color-accent-info);
    --color-badge-info-text: var(--color-text-inverted);
    --color-badge-inverted-bg: var(--color-accent-inactive-xl);
    --color-badge-inverted-text: var(--color-text-inverted);
    --color-mainnav-bg: #001b41;
    --color-mainnav-shadow: var(--color-accent-shadow-75);
    --color-mainnav-gradient-start: #042C65;
    --color-mainnav-gradient-end: var(--color-mainnav-bg);
    --color-mainnav-gradient: -webkit-linear-gradient(180deg,var(--color-mainnav-gradient-start) 0%,var(--color-mainnav-gradient-end) 100%);
    --color-mainnav-gradient: linear-gradient(180deg,var(--color-mainnav-gradient-start) 0%,var(--color-mainnav-gradient-end) 100%);
    --color-mainnav-toolbar-shadow: var(--color-accent-shadow-25);
    --color-mainnav-text-shadow: var(--color-accent-shadow);
    --color-mainnav-text: #eaeeff;
    --color-mainnav-active-text: var(--color-text-inverted);
    --color-mainnav-active-bg: #003D8F;
    --color-mainnav-active-gradient-start: #1961c2;
    --color-mainnav-active-gradient-end: var(--color-mainnav-active-bg);
    --color-mainnav-active-gradient: -webkit-linear-gradient(180deg,var(--color-mainnav-active-gradient-start) 0%,var(--color-mainnav-active-gradient-end) 80%);
    --color-mainnav-active-gradient: linear-gradient(180deg,var(--color-mainnav-active-gradient-start) 0%,var(--color-mainnav-active-gradient-end) 80%);
    --color-mainnav-active-border: var(--color-accent-highlight-20);
    --color-mainnav-hover-bg: #003275;
    --color-mainnav-hover-text: var(--color-text-inverted);
    --color-mainnav-caret: var(--color-accent-highlight-60);
    --color-mainnav-caret-hover: var(--color-text-inverted);
    --color-quicknav-bg: #003D8F;
    --color-quicknav-gradient-start: var(--color-quicknav-bg);
    --color-quicknav-gradient-end: #10305D;
    --color-quicknav-gradient: -webkit-linear-gradient(180deg,var(--color-quicknav-gradient-start) 10%,var(--color-quicknav-gradient-end) 100%);
    --color-quicknav-gradient: linear-gradient(180deg,var(--color-quicknav-gradient-start) 10%,var(--color-quicknav-gradient-end) 100%);
    --color-quicknav-text-shadow: #002a66;
    --color-quicknav-text: var(--color-text-inverted);
    --color-quicknav-hover-bg: #245eac;
    --color-quicknav-active-bg: #7aa3dc;
    --color-quicknav-active-text-shadow: #5477a9;
    --color-footer-gradient-start: #003D8F;
    --color-footer-gradient-end: #01204c;
    --color-footer-gradient: -webkit-linear-gradient(180deg,var(--color-footer-gradient-start) 30%,var(--color-footer-gradient-end) 100%);
    --color-footer-gradient: linear-gradient(180deg,var(--color-footer-gradient-start) 30%,var(--color-footer-gradient-end) 100%);
    --color-footer-border: #01204c;
    --color-footer-shadow: rgba(0,59,154,.5);
    --color-footer-text: #a3c7ee;
    --color-footer-separator: #246fd4;
    --color-footer-column-header: var(--color-text-inverted);
    --color-footer-link: #60a1ff;
    --color-footer-link-hover: #aff2fc;
    --color-hint-system-bg: #eac222;
    --color-hint-developer-bg: #f47e00;
    --color-hint-system-success: #0c0;
    --color-hint-border-system: #bfaa00;
    --color-hint-border-developer: #b83d00;
    --color-hint-border-success: #080;
    --color-grid-bg: var(--color-accent-base);
    --color-grid-row-bg-hover: #dce2ec;
    --color-grid-border: var(--color-accent-borders);
    --color-grid-bg-sorted: #f7fbff;
    --color-grid-icon-sort: #ccc;
    --color-grid-icon-sort-hover: #005580;
    --color-grid-icon-sort-active: #ff3c00;
    --color-grid-properties-border: var(--color-grid-border);
    --color-hseparator-top: #eee;
    --color-hseparator-bottom: #fff;
    --color-sidebar-toggler-border: var(--color-hseparator-top);
    --color-sidebar-toggler-text: #999;
    --color-sidebar-toggler-bg-collapsed: var(--color-accent-primary);
    --color-sidebar-toggler-text-collapsed: var(--color-text-inverted);
    --color-menu-bg: var(--color-accent-base);
    --color-menu-default-bg-hover: #0081c2;
    --color-menu-default-text: var(--color-text);
    --color-menu-danger-text: var(--color-text-danger);
    --color-menu-danger-text-hover: var(--color-text-inverted);
    --color-menu-danger-bg-hover: var(--color-text-danger);
    --color-menu-warning-text: var(--color-text-warning);
    --color-menu-warning-text-hover: var(--color-text-inverted);
    --color-menu-warning-bg-hover: var(--color-text-warning);
    --color-menu-success-text: var(--color-text-success);
    --color-menu-success-text-hover: var(--color-text-inverted);
    --color-menu-developer-text: var(--color-text-developer);
    --color-menu-developer-text-hover: #5c2600;
    --color-menu-developer-bg-hover: #f47e00;
    --color-menu-header-text: var(--color-text-secondary);
    --color-menu-header-text-shadow: var(--color-accent-highlight-50);
    --color-developer-gradient-a: #ffc27d;
    --color-developer-gradient-b: #f2cfa5;
    --color-pills-bg: #fafafa;
    --color-pills-border: #e9e9e9;
    --color-pills-bg-active: var(--color-accent-primary);
    --color-pills-bg-hover: #eee;
    --color-tabs-active-bg: #fff;
    --color-tabs-active-text: #555;
    --color-tabs-active-border: var(--color-accent-borders);
    --color-section-header-bg: #f7f7f7;
    --color-section-header-bg-hover: #e8f5ff;
    --color-section-header-clickable: var(--color-link);
    --color-section-header-text: var(--color-text);
    --color-section-body-bg: var(--color-accent-base);
    --color-section-form-error-text: var(--color-text-danger);
    --color-section-form-error-bg: var(--color-section-header-bg);
    --color-section-form-error-bg-collapsed: var(--color-bg-danger);
    --color-form-element-text: var(--color-text);
    --color-form-element-bg: #fff;
    --color-form-element-border: #ccc;
    --color-form-file-bg: #F0F8FF;
    --color-form-file-bg-hover: #ceedff;
    --color-form-checkbox: auto;
    --color-form-section-subheader-bg: #ccc;
    --color-form-hints-separator: #eee;
    --color-btn-default-gradient-start: #fff;
    --color-btn-default-gradient-end: #e6e6e6;
    --color-btn-default-hover-gradient-start: #f2f2f2;
    --color-btn-default-hover-gradient-end: #d5d5d5;
    --color-btn-default-border-bottom: #bfbfbf;
    --color-btn-default-text: var(--color-text);
    --color-btn-primary-gradient-start: #08c;
    --color-btn-primary-gradient-end: #04c;
    --color-btn-primary-hover-gradient-start: #006dcc;
    --color-btn-primary-hover-gradient-end: #003296;
    --color-btn-primary-border-bottom: #002a80;
    --color-btn-primary-text: var(--color-text-inverted);
    --color-btn-warning-gradient-start: #fbb450;
    --color-btn-warning-gradient-end: #f89406;
    --color-btn-warning-hover-gradient-start: #f4aa40;
    --color-btn-warning-hover-gradient-end: #eb8100;
    --color-btn-warning-border-bottom: #ad6704;
    --color-btn-warning-text: var(--color-text-inverted);
    --color-btn-danger-gradient-start: #ee5f5b;
    --color-btn-danger-gradient-end: #bd362f;
    --color-btn-danger-hover-gradient-start: #e54c47;
    --color-btn-danger-hover-gradient-end: #a82a1f;
    --color-btn-danger-border-bottom: #802420;
    --color-btn-danger-text: var(--color-text-inverted);
    --color-btn-success-gradient-start: #62c462;
    --color-btn-success-gradient-end: #51a351;
    --color-btn-success-hover-gradient-start: #57c957;
    --color-btn-success-hover-gradient-end: #408140;
    --color-btn-success-border-bottom: #387038;
    --color-btn-success-text: var(--color-text-inverted);
    --color-btn-info-gradient-start: #5bc0de;
    --color-btn-info-gradient-end: #2f96b4;
    --color-btn-info-hover-gradient-start: #47c1e0;
    --color-btn-info-hover-gradient-end: #1f8aaf;
    --color-btn-info-border-bottom: #1f6377;
    --color-btn-info-text: var(--color-text-inverted);
    --color-btn-inverted-gradient-start: #444;
    --color-btn-inverted-gradient-end: #222;
    --color-btn-inverted-hover-gradient-start: #333;
    --color-btn-inverted-hover-gradient-end: #111;
    --color-btn-inverted-border-bottom: #000;
    --color-btn-inverted-text: var(--color-text-inverted);
    --color-btn-default-bg: -webkit-linear-gradient(to bottom,var(--color-btn-default-gradient-start),var(--color-btn-default-gradient-end));
    --color-btn-default-bg: linear-gradient(to bottom,var(--color-btn-default-gradient-start),var(--color-btn-default-gradient-end));
    --color-btn-default-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-default-hover-gradient-start),var(--color-btn-default-hover-gradient-end));
    --color-btn-default-bg-hover: linear-gradient(to bottom,var(--color-btn-default-hover-gradient-start),var(--color-btn-default-hover-gradient-end));
    --color-btn-default-border: var(--color-btn-default-gradient-end) var(--color-btn-default-gradient-end) var(--color-btn-default-border-bottom);
    --color-btn-primary-bg: -webkit-linear-gradient(to bottom,var(--color-btn-primary-gradient-start),var(--color-btn-primary-gradient-end));
    --color-btn-primary-bg: linear-gradient(to bottom,var(--color-btn-primary-gradient-start),var(--color-btn-primary-gradient-end));
    --color-btn-primary-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-primary-hover-gradient-start),var(--color-btn-primary-hover-gradient-end));
    --color-btn-primary-bg-hover: linear-gradient(to bottom,var(--color-btn-primary-hover-gradient-start),var(--color-btn-primary-hover-gradient-end));
    --color-btn-primary-border: var(--color-btn-primary-gradient-end) var(--color-btn-primary-gradient-end) var(--color-btn-primary-border-bottom);
    --color-btn-warning-bg: -webkit-linear-gradient(to bottom,var(--color-btn-warning-gradient-start),var(--color-btn-warning-gradient-end));
    --color-btn-warning-bg: linear-gradient(to bottom,var(--color-btn-warning-gradient-start),var(--color-btn-warning-gradient-end));
    --color-btn-warning-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-warning-hover-gradient-start),var(--color-btn-warning-hover-gradient-end));
    --color-btn-warning-bg-hover: linear-gradient(to bottom,var(--color-btn-warning-hover-gradient-start),var(--color-btn-warning-hover-gradient-end));
    --color-btn-warning-border: var(--color-btn-warning-gradient-end) var(--color-btn-warning-gradient-end) var(--color-btn-warning-border-bottom);
    --color-btn-danger-bg: -webkit-linear-gradient(to bottom,var(--color-btn-danger-gradient-start),var(--color-btn-danger-gradient-end));
    --color-btn-danger-bg: linear-gradient(to bottom,var(--color-btn-danger-gradient-start),var(--color-btn-danger-gradient-end));
    --color-btn-danger-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-danger-hover-gradient-start),var(--color-btn-danger-hover-gradient-end));
    --color-btn-danger-bg-hover: linear-gradient(to bottom,var(--color-btn-danger-hover-gradient-start),var(--color-btn-danger-hover-gradient-end));
    --color-btn-danger-border: var(--color-btn-danger-gradient-end) var(--color-btn-danger-gradient-end) var(--color-btn-danger-border-bottom);
    --color-btn-success-bg: -webkit-linear-gradient(to bottom,var(--color-btn-success-gradient-start),var(--color-btn-success-gradient-end));
    --color-btn-success-bg: linear-gradient(to bottom,var(--color-btn-success-gradient-start),var(--color-btn-success-gradient-end));
    --color-btn-success-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-success-hover-gradient-start),var(--color-btn-success-hover-gradient-end));
    --color-btn-success-bg-hover: linear-gradient(to bottom,var(--color-btn-success-hover-gradient-start),var(--color-btn-success-hover-gradient-end));
    --color-btn-success-border: var(--color-btn-success-gradient-end) var(--color-btn-success-gradient-end) var(--color-btn-success-border-bottom);
    --color-btn-info-bg: -webkit-linear-gradient(to bottom,var(--color-btn-info-gradient-start),var(--color-btn-info-gradient-end));
    --color-btn-info-bg: linear-gradient(to bottom,var(--color-btn-info-gradient-start),var(--color-btn-info-gradient-end));
    --color-btn-info-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-info-hover-gradient-start),var(--color-btn-info-hover-gradient-end));
    --color-btn-info-bg-hover: linear-gradient(to bottom,var(--color-btn-info-hover-gradient-start),var(--color-btn-info-hover-gradient-end));
    --color-btn-info-border: var(--color-btn-info-gradient-end) var(--color-btn-info-gradient-end) var(--color-btn-info-border-bottom);
    --color-btn-inverted-bg: -webkit-linear-gradient(to bottom,var(--color-btn-inverted-gradient-start),var(--color-btn-inverted-gradient-end));
    --color-btn-inverted-bg: linear-gradient(to bottom,var(--color-btn-inverted-gradient-start),var(--color-btn-inverted-gradient-end));
    --color-btn-inverted-bg-hover: -webkit-linear-gradient(to bottom,var(--color-btn-inverted-hover-gradient-start),var(--color-btn-inverted-hover-gradient-end));
    --color-btn-inverted-bg-hover: linear-gradient(to bottom,var(--color-btn-inverted-hover-gradient-start),var(--color-btn-inverted-hover-gradient-end));
    --color-btn-inverted-border: var(--color-btn-inverted-gradient-end) var(--color-btn-inverted-gradient-end) var(--color-btn-inverted-border-bottom);
    }
