:root{
    --color-accent-primary: #08c;
    --color-accent-secondary: #888;

    --color-bg-document: #fff;
    --color-bg-content: #fff;
    --color-bg-inverted: #333;
    --color-bg-light: #fafafa;
    --color-bg-warning: #fff1d1;
    --color-bg-code: #f7f7f9;
    --color-border-code:#e1e1e8;
    --color-border-warning: #f2cfa5;
    --color-border: var(--color-accent-secondary);

    --color-text: rgba(0,0,0,0.7);
    --color-text-inverted: #fff;
    --color-text-muted: #ccc;
    --color-text-secondary: var(--color-accent-secondary);
    --color-text-code: #5b5b5b;
    --color-text-danger: #b94a48;
    --color-text-danger-xxl: #c52320;
    --color-text-success: #468847;
    --color-text-info: #3a87ad;
    --color-text-warning: #e2500b;
    --color-text-tooltip: #e4ef9e;
    --color-text-developer: #f47e00;

    --color-link-hover: #005580;
    --color-link: var(--color-accent-primary);
    --color-link-external: #063aae;
    --color-link-muted: #999;

    --color-mainnav-bg: #001b41;
    --color-mainnav-shadow: rgba(0,0,0,0.75);
    --color-mainnav-gradient: linear-gradient(180deg, rgba(4,44,101,1) 0%, rgba(0,27,65,1) 100%);
    --color-mainnav-toolbar-shadow: rgba(0,0,0,0.25);
    --color-mainnav-text-shadow: #000;
    --color-mainnav-text: #eaeeff;
    --color-mainnav-active-text: #fff;
    --color-mainnav-active-bg: #003D8F;
    --color-mainnav-active-gradient: linear-gradient(180deg, #1961c2 0%, #003D8F 80%);
    --color-mainnav-active-border: rgba(255, 255, 255, 0.2);
    --color-mainnav-hover-bg: #003275;
    --color-mainnav-hover-text: #fff;
    --color-mainnav-caret: rgba(255, 255, 255, 0.6);
    --color-mainnav-caret-hover: #fff;

    --color-quicknav-bg: #003D8F;
    --color-quicknav-gradient: linear-gradient(180deg, rgba(0,61,143,1) 10%, rgb(16 48 93) 100%);
    --color-quicknav-text-shadow: #002a66;
    --color-quicknav-text: #fff;
    --color-quicknav-hover-bg: #245eac;
    --color-quicknav-active-bg: #7aa3dc;
    --color-quicknav-active-text-shadow: #5477a9;

    --color-footer-gradient: linear-gradient(180deg, #003D8F 30%, #01204c 100%);
    --color-footer-border: #01204c;
    --color-footer-shadow: rgb(0 120 154 / 50%);
    --color-footer-text: #a3c7ee;
    --color-footer-separator: #246fd4;
    --color-footer-column-header: #fff;
    --color-footer-link: #60a1ff;
    --color-footer-link-hover: #aff2fc;

    --color-hint-system-bg: #eac222;
    --color-hint-developer-bg: #f47e00;
    --color-hint-system-success: #00cc00;
    --color-hint-border-system: #bfaa00;
    --color-hint-border-developer: #b83d00;
    --color-hint-border-success: #008800;

    --color-table-row-bg-hover: #dce2ec;
    --color-table-bg: #fff;
    --color-table-properties-border: #ddd;

    --color-dropdown-header-text-shadow: rgba(255, 255, 255, 0.5);

    --color-pills-bg: #fafafa;
    --color-pills-border: #e9e9e9;
    --color-pills-bg-active: var(--color-accent-primary);
    --color-pills-bg-hover: #eee;

    --color-section-header-bg: #f7f7f7;
    --color-section-header-bg-hover: #e8f5ff;
    --color-section-header-clickable: var(--color-link);
    --color-section-header-text: var(--color-text);

    --color-form-element-text: var(--color-text);
    --color-form-element-bg: #fff;
    --color-form-element-border: #ccc;
    --color-form-file-bg: #F0F8FF;
    --color-form-file-bg-hover: #ceedff;
    --color-form-section-subheader-bg: #ccc;
    --color-form-hints-separator: #eee;

    --color-btn-default-bg: linear-gradient(to bottom, #ffffff, #e6e6e6);
    --color-btn-default-bg-hover: linear-gradient(to bottom, #f2f2f2, #d5d5d5);
    --color-btn-default-text: var(--color-text);
    --color-btn-default-border: #e6e6e6 #e6e6e6 #bfbfbf;
    --color-btn-primary-bg: linear-gradient(to bottom, #0088cc, #0044cc);
    --color-btn-primary-bg-hover: linear-gradient(to bottom, #006dcc, #003296);
    --color-btn-primary-text: #fff;
    --color-btn-primary-border: #0044cc #0044cc #002a80;
    --color-btn-warning-bg: linear-gradient(to bottom,#fbb450,#f89406);
    --color-btn-warning-bg-hover: linear-gradient(to bottom, #f4aa40, #eb8100);
    --color-btn-warning-text: #fff;
    --color-btn-warning-border: #f89406 #f89406 #ad6704;
    --color-btn-danger-bg: linear-gradient(to bottom,#ee5f5b,#bd362f);
    --color-btn-danger-bg-hover: linear-gradient(to bottom, #e54c47, #a82a1f);
    --color-btn-danger-text: #fff;
    --color-btn-danger-border: #bd362f #bd362f #802420;
    --color-btn-success-bg: linear-gradient(to bottom,#62c462,#51a351);
    --color-btn-success-bg-hover: linear-gradient(to bottom, #57c957, #408140);
    --color-btn-success-text: #fff;
    --color-btn-success-border: #51a351 #51a351 #387038;
    --color-btn-info-bg: linear-gradient(to bottom,#5bc0de,#2f96b4);
    --color-btn-info-bg-hover: linear-gradient(to bottom, #47c1e0, #1f8aaf);
    --color-btn-info-text: #fff;
    --color-btn-info-border: #2f96b4 #2f96b4 #1f6377;
    --color-btn-inverted-bg: linear-gradient(to bottom, #444444, #222222);
    --color-btn-inverted-bg-hover: linear-gradient(to bottom, #333333, #111111);
    --color-btn-inverted-text: #fff;
    --color-btn-inverted-border: #222222 #222222 #000000;
}

.text-error{color: var(--color-text-danger);}
.text-error-xxl{color: var(--color-text-danger-xxl);}
.text-warning{color: var(--color-text-warning);}
.text-success{color: var(--color-text-success);}
.text-info{color: var(--color-text-info);}
.text-developer{color: var(--color-text-developer);}
.text-muted{color: var(--color-text-muted);}
.text-inverted{color: var(--color-text-inverted);}
.muted{color: var(--color-text-muted);}

.bg-inverted{background-color: var(--color-bg-inverted);}