/* ------------------------------------------------------------------------
   FORMS
   ------------------------------------------------------------------------*/

TEXTAREA.preformatted {
    font-family: monospace;
    white-space: nowrap;
}

input[type="file"] {
    display: block;
    background: aliceblue;
    padding: 2px 6px;
    border-radius: 3px;
    width: 96%;
    cursor: pointer;
}

input[type="file"]:hover {
    background: #ceedff;
}

.input-xllarge {
    width: 340px;
}

SECTION .form-horizontal,
SECTION .form-inline {
    margin-bottom: 0;
}

H3.SectionSubheader {
    border-bottom: solid 1px #ccc;
    line-height: 30px;
    margin-bottom: 34px;
    margin-top: 28px;
}

FORM H4 {
    text-transform: uppercase;
    font-weight: var(--font-weight-normal);
    margin-bottom: 28px;
    margin-top: 20px;
}

H3.form-header.form-header-first {
    margin-top: 0;
    padding-top: 0;
}

.form-horizontal .checkbox-line {
    margin-bottom: 0;
}

.form-horizontal .checkbox-line .help-block {
    margin-bottom: 9px;
}

.form-condensed .control-group {
    margin-bottom: 9px !important;
}

.form-horizontal .control-group.last {
    margin-bottom: 0 !important;
}

.form-condensed .control-label {
    margin-bottom: 1px !important;
}

.form-condensed SELECT,
.form-condensed INPUT[type=text] {
    margin-bottom: 3px !important;
}

.form-condensed .input-append,
.form-condensed .input-prepend {
    margin-bottom: 3px !important;
}

.form-actions > BUTTON.btn,
.form-actions > A.btn {
    margin-right: 6px;
}

.form-condensed .form-actions {
    margin-top: 9px !important;
    margin-bottom: 0 !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.form-condensed .help-block {
    margin-top: 0 !important;
    margin-bottom: 7px;
}

.form-hints {
    border-top: solid 1px #eee;
    padding-top: 13px;
    font-size: var(--font-size-s);
}

.form-heading-abstract {
    font-style: italic;
    color: #999;
    margin-bottom: 15px;
}

.multiselect {
    text-align: left;
    padding-left: 6px;
}

.form-horizontal.wide-labels .control-label {
    width: 230px;
}

.form-horizontal.wide-labels .controls {
    margin-left: 240px;
}

.radio.active {
    background: #08c;
    color: #fff;
    border-radius: 3px;
}

LABEL.radio,
LABEL.checkbox {
    cursor: pointer;
}

LABEL.radio {
    padding: 2px 6px;
    float: left;
}

/* Avoid the float in multiselect dropdowns */
LABEL.radio.standalone,
.multiselect-container LABEL.radio {
    float: none;
}

.radio-group.with-icons LABEL {
}

.radio-group.with-icons INPUT[type=radio] {
    position: fixed;
    opacity: 0;
}

.radio-group.xlarge LABEL {
    width: 180px;
}

/* For numeric inputs with 4 digits */
.input-number-4 {
    width: 55px;
}

/* For numeric inputs with 6 digits */
.input-number-6 {
    width: 70px;
}

.input-block {
    width: 98%;
}

/* Ensure that the inputs do not show larger than the available width in the sidebar */
#sidebar .input-block {
    width: 95%;
}

.element-product-selector {
    margin-top: 5px;
}

.element-product-selector .element-toolbar {
    margin-top: 5px;
    margin-bottom: 6px;
}

.control-group.error .element-product-selector .element-label {
    color: #b94a48;
}

.input-date INPUT {
    width: 80px;
}

.input-date .add-on {
    cursor: pointer;
}

.control-group.error .redactor-editor,
.control-group.error .input-append .btn,
.control-group.error .imageuploader_preview {
    border: solid 1px #b94a48;
}

.help-block {
    margin-top: 6px;
    color: #727272;
}

.help-block {
    font-size: var(--font-size-s) !important;
    line-height: var(--line-height-s) !important;
}

.help-block CODE {
    font-size: 0.750rem !important;
    line-height: var(--line-height-s) !important;
}

.form-sections-toolbar {
    text-align: right;
    margin-bottom: 13px;
}

/* buttons in input appends */
.input-append .add-on .btn {
    margin-top: -5px;
}

.control-group.control-type-static .controls {
    padding-top: 5px;
}

.form-icon-required,
.form-icon-structural {
    display: none;
    margin-left: 5px;
}

.form-icon-required.active,
.form-icon-structural.active {
    display: inline;
}

/* Make the delete icon red */
.multiselect-container .btn.clear-search {
    color: #cc0000;
}

/* The search bar in the multiselect element */
.multiselect-item.filter {
    background: #fafafa;
    margin-bottom: 13px;
    padding: 5px;
}

.control-group .redactor-box {
    margin-bottom: 0;
}

/* Buttons that are added after an input element in forms */
.btn.after-input,
.btn-group.after-input {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.form-error-hint {
    display: block;
    color: #c52320;
    padding: 9px 0 9px 0;
}

.form-example-string {
    padding: 2px 4px;
    background-color: #f7f7f9;
    border: solid 1px #f1f1f8;
    border-radius: 3px;
}

FORM p.abstract.form-abstract {
    margin-left: 20px;
    font-size: var(--font-size-normal);
}

.element-type-Multiselect .btn-group.multiselect {
}

.btn-group.multiselect {
    padding-left: 0;
}

.btn-group.multiselect.multiselect-block {
    width: 100%;
}

.element-icons {

}

.control-label-text {

}

/* Add a padding so the WYSIWYG editor does not fill the whole width */
.element-type-Textarea.standalone {
    padding: 0 10px;
}