@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ysabeau+Infant&display=swap');

:root{
    --font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-monospace: 'Roboto Mono', monospace;
    --font-weight-light: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 600;
    --font-weight-bolder: 700;
    --font-weight-monospace: 400;
    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.725rem;
    --font-size-s: 0.875rem;
    --font-size-normal: 1rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 1.25rem;

    --line-height-normal: 1.5rem;
    --line-height-xxs: 0.75rem;
    --line-height-xs: 1rem;
    --line-height-s: 1.25rem;
    --line-height-l: 1.3rem;
    --line-height-xl: 1.45rem;
}

BODY,
INPUT,
BUTTON,
SELECT,
TEXTAREA {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
    letter-spacing: -0.035rem;
}

.uppercase {
    text-transform: uppercase;
}

CODE,
PRE,
.monospace {
    font-family: var(--font-family-monospace);
    font-weight: var(--font-weight-monospace);
}

LI{
    line-height: var(--line-height-normal);
}

.nav-tabs>li>a, .nav-pills>li>a{
    line-height: var(--line-height-normal);
}

select, input[type="file"]{
    height: 2rem;
}

.dropdown-menu>li>a,
#app-quicknav .nav > LI > A,
.whatsnew-category,
.page-title .title-subline,
.page-subtitle .title-subline{
    font-weight: var(--font-weight-light);
}

select,
textarea,
button,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
}

.properties-grid .prop-header TH,
#footer_frame .footer-column-header,
H1.page-title,
H2.page-subtitle,
H2.page-subtitle,
H3.page-abstract {
    font-weight: var(--font-weight-normal);
}

#developer_mode_hint,
#simulate_session_hint,
#maintenance_mode_hint,
.loader_text,
.keyboard-shortcut,
.whatsnew-version,
.table TH,
STRONG{
    font-weight: var(--font-weight-bold);
}

H1,H2,H3,H4,H5,H6{
    font-weight: var(--font-weight-bolder);
}


/* region: Labels and badges */

label{
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
}

/* Force the font size, for example when used in a title */
.badge-dropdown .dropdown-menu {
    font-size: var(--font-size-s);
}

.badge.badge-large {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
}

.badge.badge-small {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-xxs);
}

/* endregion */

/* region: Buttons */

.btn.btn-mini{
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-xs);
}
