.filter-form .filters-active-message {
display: none;
padding: 2px 4px;
background: #f89406;
border-radius: 3px;
margin-bottom: 9px;
color: #fff;
}

.filter-form.filters-active .filters-active-message {
display: block;
}

.filter-form .filter-settings-more{
margin-bottom:20px;
}

.filter-form .filter-settings-more .more-elements{
display:none;
}

.filter-form .filter-settings-more .more-expand,
.filter-form .filter-settings-more .more-collapse{
color:#08c;
cursor:pointer;
text-align:center;
padding:3px 6px;
background:#f7fbff;
border-radius:3px;
}

.filter-form .filter-settings-more .more-expand:hover,
.filter-form .filter-settings-more .more-collapse:hover{
color:#0093dc;
background:#dcedff;
}

.filter-form .filter-settings-more .more-collapse{
display:none;
}