.icon-green{
color:#009900;
}

.icon-red{
color:#ff0000;
}

.big-icon{
display:inline-block;
background-image:url(../img/big-icons.png);
background-repeat:no-repeat;
width:40px;
line-height:40px;
height:40px;
vertical-align:text-bottom;
}

.big-icon-page-master{
background-position:-1px -1px;
}

.big-icon-page-regular{
background-position:-42px -1px;
}

.big-icon-print{
background-position:-83px -1px;
}

.med-icon{
display:inline-block;
background-image:url(../img/big-icons.png);
background-repeat:no-repeat;
width:29px;
line-height:28px;
height:28px;
vertical-align:text-bottom;
}

.med-icon-page-master{
background-position:-1px -42px;
}

.med-icon-page-regular{
background-position:-31px -42px;
}

.med-icon-print{
background-position:-61px -42px;
}

[rel=tooltip].med-icon:hover,
[rel=tooltip].big-icon:hover{
-webkit-filter:sepia(1) saturate(2) hue-rotate(140deg);
-moz-filter:sepia(1) saturate(2) hue-rotate(140deg);
filter:sepia(1) saturate(2) hue-rotate(140deg);
}

.icon-important{
color:#cc0000;
}

.icon-flag-de_DE{
background:url(../img/flag-de_DE.png) no-repeat;
width:18px !important;
}
.icon-flag-en_UK{
background:url(../img/flag-en_UK.png) no-repeat;
width:18px !important;
}
