.items-selector-entry{
cursor:pointer;
padding:13px 13px;
border-radius:6px;
border:solid 1px #ddd;
margin-bottom:13px;
}

.items-selector-entry:hover{
background:#f0f5ff;
border-color:#08c;
}

.items-selector-description{
padding:0;
margin:0;
color:#888;
font-style:italic;
}

.items-selector-link{
font-size:120%;
font-weight:bold;
}

.items-selector-link:hover{
text-decoration:none;
}

