/**
 * Styles for search widgets in the navigation bars.
 *
 * @package UI
 * @see UI_Page_Navigation_Item_Search
 */

UL.nav FORM.nav-search{
margin:0 5px 0 50px;
padding-top:4px;
}

UL.nav FORM.nav-search .search-inputs{
display:inline-block;
}

UL.nav FORM.nav-search .search-input{
margin:0 3px 0 0;
}

UL.nav FORM.nav-search .search-input-terms{
width:120px;
}

UL.nav FORM.nav-search .search-input-terms:focus{
width:220px;
}

UL.nav FORM.nav-search .search-input-scope{
width:110px;
}

UL.nav FORM.nav-search .search-button{
display:inline-block;
}

