#rating-widget {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 800;
    background-image: linear-gradient(to bottom, var(--color-mainnav-gradient-start), var(--color-mainnav-gradient-end));
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.45);
}

#rating-widget .rating-stars {
    display: inline-block;
}

#rating-widget .rating-stars.rating-1 .rating-star {
    color: var(--color-rating-1star);
}

#rating-widget .rating-stars.rating-2 .rating-star {
    color: var(--color-rating-2star);
}

#rating-widget .rating-stars.rating-3 .rating-star {
    color: var(--color-rating-3star);
}

#rating-widget .rating-stars.rating-4 .rating-star {
    color: var(--color-rating-4star);
}

#rating-widget .rating-stars.rating-5 .rating-star {
    color: var(--color-rating-5star);
}

#rating-widget .rating-star {
    cursor: pointer;
    opacity: 0.3;
}

#rating-widget .rating-star.hover {
    cursor: pointer;
    opacity: 1;
}

#rating-widget .rating-container {
    color: var(--color-text-inverted);
    position: relative;
    width: 55%;
    margin: 0 auto;
}

#rating-widget .rating-btn {
    display: none;
    text-align: center;
    padding: 8px 20px;
}

#rating-widget .rating-preview {
    text-align: center;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

#rating-widget .rating-preview > I.fa {
    opacity: 0.6;
}

#rating-widget .rating-preview > SPAN {
    display: inline-block;
    margin: 0 8px;
}

#rating-widget:hover {
}

#rating-widget:hover .rating-preview {
    display: none;
}

#rating-widget:hover .rating-btn {
    display: block;
}

#rating-widget .rating-help {
    margin-right: 5px;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    opacity: 0.6;
}

#rating-widget .rating-help:hover {
    opacity: 1.0;
}
