/**
 * Styles for items in the UI that use the Application_Revisionable 
 * class skeletons: these are used by a number of utility methods in
 * the framework.
 *
 * @package Application
 * @subpackage Revisionable
 * @author Sebastian Mordziol <s.mordziol@mistralys.eu>
 */

.revisionable-title-subline {
    display: block;
    color: var(--color-text-muted);
}

H1.page-title .revisionable-title-subline {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-normal);
}

H1.page-title .revisionable-title-subline A:link,
H1.page-title .revisionable-title-subline A:visited {
    color: var(--color-link-muted);
}

H1.page-title .revisionable-title-subline A:active,
H1.page-title .revisionable-title-subline A:hover {
    color: var(--color-link);
}
