:root{
    --section-header-min-height: 42px;
    --section-header-min-height-compact: 30px;
}

/* -------------------------------------------------------------------
   CONTENT SECTIONS
   ------------------------------------------------------------------- */

.section H4.section-heading {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
}

.section .body-wrapper > DIV:last-child,
.section .body-wrapper > P:last-child,
.section .body-wrapper > UL:last-child,
.section .body-wrapper > OL:last-child,
.section .body-wrapper > FORM:last-child {
    margin-bottom: 0;
}

.section.nopadding .body-wrapper {
    padding: 0;
}

.section .body-wrapper > DIV:last-child,
.section .body-wrapper > TABLE:last-child,
.section .body-wrapper > SECTION:last-child {
    margin-bottom: 0;
}

.section.solid-background-solid-default {
    background: var(--color-bg-content);
}

.section .body-wrapper > P.abstract {
    margin-top: 13px;
    font-size: var(--font-size-normal);
}

.section-body .body-wrapper {
    padding: 0 0 30px 0;
}

/* region: Compact mode */
/* -------------------------------------------------------------------
   COMPACT MODE
   ------------------------------------------------------------------- */

.section.content-subsection,
.section.compact {
    margin-bottom: 0;
}

.section.content-subsection > .section-header,
.section.compact > .section-header {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.section.content-subsection > .section-header.without-tagline,
.section.compact > .section-header.without-tagline {
    line-height: var(--section-header-min-height-compact);
}

.section.content-subsection > .section-header .section-tagline,
.section.compact > .section-header .section-tagline {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

/* endregion */


/* region: Header Bar */
/* -------------------------------------------------------------------
   HEADER BAR
   ------------------------------------------------------------------- */

/* Regular, non collapsible header */
.section-header {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-normal);
    text-transform: uppercase;
    line-height: var(--line-height-normal);
    padding: 0 0 0 8px;
    margin: 0 0 var(--box-spacing) 0;
    background: var(--color-section-header-bg);
    color: var(--color-section-header-text);
    border-radius: var(--border-radius-xs);
    box-sizing: border-box;
}

.section-header.without-tagline{
    line-height: var(--section-header-min-height);
}

/* Collapsible header */
.section-header.collapsible {
    color: var(--color-section-header-clickable);
    cursor: pointer;
}

.section-header.collapsed {
    margin-bottom: 3px;
}

.section-header.collapsible:hover {
    background: var(--color-section-header-bg-hover);
}

.section-header > .section-status-elements {
    float: right;
    display: inline-block;
    margin-right: 6px;
}

.section-header .icon-form-required {
    font-size: var(--font-size-s);
    position: relative;
    top: 3px;
}

.section-tagline {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    display: block;
    text-transform: none;
}

.section-header.with-tagline {
    /*padding-bottom: 3px;*/
}

.section-tagline{
    padding-bottom: 2px;
}

.content-section.form-section-error .content-section-header,
.content-subsection.form-section-error .content-subsection-header {
    color: var(--color-section-form-error-text);
    background-color: var(--color-section-form-error-bg);
}

.content-section.form-section-error .content-section-header.collapsed:hover,
.content-subsection.form-section-error .content-subsection-header.collapsed:hover {
    background-color: var(--color-section-form-error-bg-collapsed);
}

/* endregion */

/* region: Visual Styles */

.section.dangerous > .section-body {
    background: var(--color-bg-danger);
}

.section.dangerous > .section-body > .body-wrapper {
    padding: var(--box-padding);
}

.section.dangerous > .section-header {
    margin-bottom: 0;
}

.section.dangerous > .section-header {
    color: var(--color-text-danger);
}

/* endregion */

.section SPAN.error-code {
    float: right;
}

/* -------------------------------------------------------------------
   DEVELOPER SECTIONS
   ------------------------------------------------------------------- */
/* region: Developer sections */

.section.developer .section-body.in {
    background: url(../img/bg-button-developer.png);
    border: solid 1px #f47e00;
    border-radius: 3px;
    padding: 6px;
}

.section.developer > .section-body > .body-wrapper {
    padding-bottom: 0;
}

/* endregion */

/* -------------------------------------------------------------------
   CONTEXT BUTTONS
   ------------------------------------------------------------------- */

.content-section.with-context-buttons .content-section-header {
    font-size: var(--font-size-l);
}

.content-section > DIV.btn-toolbar {
    margin: 9px 13px 0 0;
}

/* -------------------------------------------------------------------
   MAXIMUM CONTENT HEIGHT LIMIT
   ------------------------------------------------------------------- */

.content-section .body-wrapper.max-height {
    overflow: auto;
}
