#sidebar {
    font-size: 0.9em;
    line-height: normal;
    width: 310px;
    padding-left: 15px;
}

.sidebar-wrap {
}

#content,
#sidebar {
    vertical-align: top;
}

.content-wrap > table {
    width: 100%;
    min-height: 100px;
}

#sidebar .accordion-inner {
    line-height: 110%; /* to make it more compact */
}

.content-wrap.without-sidebar #content {
    width: 100%;
}

.content-wrap.with-sidebar #content {
    padding-right: 25px;
}

.content-wrap.with-sidebar.sidebar-large #sidebar {
    width: 380px;
}

.sidebar_separator {
    height: 1px;
    border-bottom: dotted 1px #ccc;
    margin-bottom: 14px;
    margin-top: 14px;
}

#sidebar select {
    width: 100%;
}

#sidebar .control-label {
    /* width:60px; */
}

#sidebar .controls {
    /* margin-left:70px; */
}

#sidebar .form-actions {
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    background: transparent;
}

#sidebar .form-actions .btn {
    margin-right: 5px;
}

.btn.sidebar {
    width: 100%;
    display: block;
    margin-bottom: 13px;
}

#sidebar P {
    line-height: 14px;
}

#sidebar .alert.with-margin-top {
    margin-top: 10px;
}

/* region: Sections */
/* ---------------------------------------------------------------------------
   SECTIONS
   --------------------------------------------------------------------------- */

.sidebar-section .body-wrapper{
    padding-bottom:16px;
}

.sidebar-section.with-separator {
    border-bottom: dotted 1px #ccc;
}

.sidebar-section-header {
    font-size: 14px;
    line-height: 30px;
    background:transparent;
    padding-left:6px;
    position: relative;
    left: -6px;
}

.sidebar-section-header > .icon-toggle{
    font-size: 76%;
    line-height: 14px; /* Like the header font size */
}

.sidebar-section-header.regular {
    background: transparent;
    padding:0;
}

.sidebar-section .section-toolbar{
    margin-top: 3px;
    margin-bottom: 0;
}

.sidebar-section-header.collapsed {
    padding-bottom: 0;
}

.sidebar-section P.abstract {
    margin-top: 0;
}

.sidebar-section .sidebar-context-buttons {
    margin-top: -5px;
}

.sidebar-section.nopadding .body-wrapper {
    padding: 0;
}

/* endregion */

/* region: Toggle sidebar */

#sidebar-toggle {
    color: #999999;
    width: 16px; /* force minimum size */
    font-size: 80%;
    border-left: dotted 1px #ddd;
}

#sidebar-toggle.collapsed {
    background: #08c;
    color: #fff;
    width: 1px;
}

#sidebar-toggle.collapsed #sidebar-toggle-grip {
    padding: 0;
}

#sidebar-toggle-grip {
    padding-left: 3px;
}

#sidebar-toggle:hover {
    background: url("../img/bg-sidebar-toggler.png") repeat-y top left;
    color: #488ff1;
}

#sidebar-toggle.collapsed:hover {
    background: #08c;
    color: #fff;
}

/* endregion */