/* -------------------------------------------------------------------
   CONTENT SECTIONS
   ------------------------------------------------------------------- */

.section H4.section-heading{
    font-size: 14px;
    font-weight:normal;
    text-transform: uppercase;
}

.section .body-wrapper > DIV:last-child,
.section .body-wrapper > P:last-child,
.section .body-wrapper > UL:last-child,
.section .body-wrapper > OL:last-child,
.section .body-wrapper > FORM:last-child{
    margin-bottom: 0;
}

.section.nopadding .body-wrapper {
    padding: 0;
}

.section .body-wrapper .tab-content,
.section .body-wrapper .tab-toolbar {
    background: #fff;
    clear: right;
}

.section .body-wrapper .tab-content {
    padding-top: 20px;
}

.section .body-wrapper > DIV:last-child,
.section .body-wrapper > TABLE:last-child,
.section .body-wrapper > SECTION:last-child {
    margin-bottom: 0;
}

.section.solid-background-light {
    background: #fff;
}

.section .body-wrapper > P.abstract {
    margin-top: 13px;
    font-size: 16px;
}

.section-body .body-wrapper{
    padding: 0 0 30px 0;
}

/* region: Compact mode */
/* -------------------------------------------------------------------
   COMPACT MODE
   ------------------------------------------------------------------- */

.section.compact {
    margin-bottom: 0;
}

.section.compact > .section-header {
    font-size: 12px;
    line-height: 26px;
}

.section.compact > .section-header .section-tagline{
    margin-top:-5px;
    font-size: 10px;
    padding-bottom:5px;
}

.section.compact > .section-body > .body-wrapper{
    font-size: 12px;
}

.section.compact > .section-body > .body-wrapper > .abstract{
    font-size:12px;
    margin-bottom:16px;
}

/* endregion */


/* region: Header Bar */
/* -------------------------------------------------------------------
   HEADER BAR
   ------------------------------------------------------------------- */

/* Regular, non collapsible header */
.section-header{
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 38px;
    padding: 0 0 0 8px;
    margin: 0 0 13px 0;
    background: #f7f7f7;
    border-radius: 2px;
}

/* Collapsible header */
.section-header.collapsible{
    color: #08c;
    cursor: pointer;
}

.section-header.collapsed{
    margin-bottom: 3px;
}

.section-header.collapsible:hover{
    background: #e8f5ff;
}

.section-header .icon-form-required{
    font-size: 76%;
    position: relative;
    top: 3px;
}

.section-tagline{
    display: block;
    text-transform: none;
    margin-top: -9px;
}

.content-section.form-section-error .content-section-header,
.content-subsection.form-section-error .content-subsection-header {
    color: #b94a48;
    background: #feeded;
}

.content-section.form-section-error .content-section-header.collapsed:hover,
.content-subsection.form-section-error .content-subsection-header.collapsed:hover {
    background: #fedfdf;
}

/* endregion */

/* the error-styled section: see the frame.content.section template */
.section.error {
    border: solid 2px #cc0000;
    background: #ffe0e0;
}

.section.error .section-header {
    color: #cc0000;
    font-size: 120%;
}

.section.with-tabs.with-abstract .tabs-section {
    margin-bottom: 0;
}

.section SPAN.error-code {
    float: right;
}

/* region: Tabs */
/* -------------------------------------------------------------------
   TABS BELOW THE SECTION HEADER
   ------------------------------------------------------------------- */

UL.tabs-section {
    clear: both;
    text-align: right;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    background: #fff;
    border: solid 1px #f0f0f0;
    border-top-color: #e9e9e9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

UL.tabs-section LI.tab {
    display: inline-block;
}

UL.tabs-section LI.tab.tab-default:hover {
    background: #e0e0e0;
}


UL.tabs-section LI.tab > A {
    display: inline-block;
    line-height: 36px;
    padding: 0 10px;
    text-decoration: none;
    color: #666;
}


UL.tabs-section LI.tab.tab-active {
    background: #5a5a5a;
}

UL.tabs-section LI.tab.tab-active > A {
    color: #fff;
}

/* endregion */

/* -------------------------------------------------------------------
   DEVELOPER SECTIONS
   ------------------------------------------------------------------- */
/* region: Developer sections */

.section.developer .section-body.in{
    background: url(../img/bg-button-developer.png);
    border: solid 1px #f47e00;
    border-radius: 3px;
    padding:6px;
}

.section.developer > .section-body > .body-wrapper{
    padding-bottom: 0;
}

/* endregion */

/* -------------------------------------------------------------------
   CONTEXT BUTTONS
   ------------------------------------------------------------------- */

.content-section.with-context-buttons .content-section-header {
    font-size: 18px;
}

.content-section > DIV.btn-toolbar {
    margin: 9px 13px 0 0;
}

/* -------------------------------------------------------------------
   MAXIMUM CONTENT HEIGHT LIMIT
   ------------------------------------------------------------------- */

.content-section .body-wrapper.max-height{
    overflow:auto;
}