:root{
    --sidebar-header-min-height: 30px;
}

#sidebar {
    width: 310px;
    padding-left: 15px;
}

#content,
#sidebar {
    vertical-align: top;
}

.content-wrap > table {
    width: 100%;
    min-height: 100px;
}

.content-wrap.without-sidebar #content {
    width: 100%;
}

.content-wrap.with-sidebar #content {
    padding-right: 25px;
}

.content-wrap.with-sidebar.sidebar-large #sidebar {
    width: 380px;
}

.sidebar_separator {
    height: 1px;
    border-bottom: dotted 1px var(--color-border);
    margin-bottom: 14px;
    margin-top: 14px;
}

#sidebar select {
    width: 100%;
}

#sidebar .form-actions {
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    background: transparent;
}

#sidebar .form-actions .btn {
    margin-right: 5px;
}

.btn.sidebar {
    width: 100%;
    display: block;
    margin-bottom: 13px;
}

.sidebar-wrap {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-s);
}

.sidebar-help .accordion-heading{
    background: var(--color-bg-highlight-info);
}

.sidebar-wrap P {
    line-height: var(--line-height-s);
}

#sidebar .alert.with-margin-top {
    margin-top: 10px;
}

/* region: Accordions */

.sidebar-wrap .accordion-inner P {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.sidebar-wrap .accordion-inner P:last-child {
    margin-bottom: 0;
}

/* endregion */

/* region: Sections */
/* ---------------------------------------------------------------------------
   SECTIONS
   --------------------------------------------------------------------------- */

.sidebar-section .body-wrapper{
    padding-bottom:16px;
}

.sidebar-section.with-separator {
    border-bottom: dotted 1px var(--color-border);
}

.sidebar-section-header {
    display:block;
    font-size: var(--font-size-normal);
    line-height: var(--sidebar-header-min-height);
    background:transparent;
    padding-left:6px;
    margin-left:-6px;
}

.sidebar-section-header.without-tagline {
    line-height: var(--sidebar-header-min-height);
}

.sidebar-section-header > .toggle{
    font-size: var(--font-size-s);
    line-height: var(--sidebar-header-min-height);
}

.sidebar-section-header.regular {
    background: transparent;
    padding:0;
}

.sidebar-section .section-toolbar{
    margin-top: 3px;
    margin-bottom: 0;
}

.sidebar-section-header.collapsed {
    padding-bottom: 0;
}

.sidebar-section P.abstract {
    margin-top: 0;
}

.sidebar-section .sidebar-context-buttons {
    margin-top: -5px;
}

.sidebar-section.nopadding .body-wrapper {
    padding: 0;
}

/* endregion */

/* region: Toggle sidebar */

#sidebar-toggle {
    color: var(--color-sidebar-toggler-text);
    width: 16px; /* force minimum size */
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    border-left: dotted 1px var(--color-sidebar-toggler-border);
}

#sidebar-toggle.collapsed {
    background: var(--color-sidebar-toggler-bg-collapsed);
    color: var(--color-sidebar-toggler-text-collapsed);
    width: 1px;
}

#sidebar-toggle.collapsed #sidebar-toggle-grip {
    padding: 0;
}

#sidebar-toggle-grip {
    padding-left: 3px;
}

#sidebar-toggle:hover {
    background: url("../img/bg-sidebar-toggler.png") repeat-y top left;
    color: var(--color-link-hover);
}

#sidebar-toggle.collapsed:hover {
    background: var(--color-link);
    color: var(--color-text-inverted);
}

/* endregion */