.tag-editor{
    border-radius: var(--border-radius-s);
    padding: 4px;
    margin: 4px;
}

.tag-editor > .tag-editor-list{
    font-style: italic;
}

.tag-editor.started{
    cursor: pointer;
}

.tag-editor.started:hover{
    background-color: #ccf0f0;
}

.tags-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-ul LI > LABEL{
    line-height: normal;
}

.properties-grid .tag-editor{
    margin: 0 !important;
    padding: 0 4px !important;
    display: inline-block;
}
