:root
{
    --color-accent-base: #1D2025;
    --color-accent-primary: #91D6FF;
    --color-accent-secondary-xs: #3e4b60;
    --color-accent-secondary-s: #58667f;
    --color-accent-secondary: #64738D;
    --color-accent-secondary-xl: #8798b7;

    --color-bg-warning: #c57300;
    --color-bg-code: #333d4f;
    --color-border-code: #64738D;
    --color-border-warning: #c57300;
    /*--color-border: (accent secondary)*/

    --color-text: #93A5B4;
    --color-text-inverted: #333;
    --color-text-muted: #64738D;
    /*--color-text-secondary: (accent secondary)*/
    --color-text-code: #93A5B4;
    --color-text-danger: #ee6967;
    --color-text-danger-xxl: #ff2823;
    --color-text-success: #58b35a;
    --color-text-info: #59aad1;
    --color-text-warning: #e28400;
    --color-text-tooltip: #e4ef9e;
    --color-text-developer: #f47e00;

    --color-link-hover: #fff;
    /*--color-link: (accent primary)*/
    --color-link-external: #a7c0ff;
    --color-link-muted: #7b89a2;

    --color-mainnav-active-gradient: linear-gradient(180deg, #477DC6 0%, #163968 80%);
    --color-mainnav-gradient: linear-gradient(180deg, rgb(52 84 130) 0%, rgb(15 34 60) 100%);
    --color-mainnav-hover-bg: linear-gradient(180deg, #6B9EE4 0%, #24508A 80%);
    --color-mainnav-hover-text: #fff;
    --color-mainnav-text: #EAEEFF;

    --color-grid-bg: #252A33;
    --color-grid-row-bg-hover: #333d4f;
    --color-grid-border: #111317;
    --color-grid-bg-sorted: #27354D;
    --color-grid-icon-sort: var(--color-text-secondary);
    --color-grid-icon-sort-hover: var(--color-link-hover);
    --color-grid-icon-sort-active: #ff3c00;
    --color-grid-properties-border: #ddd;

    --color-hseparator-top: #3c414b;
    --color-hseparator-bottom: #0e0f12;

    /*--color-sidebar-toggle-border: (hseparator top) */
    --color-sidebar-toggler-text: var(--color-text-secondary);
    --color-sidebar-toggler-bg-collapsed: #27354D;
    --color-sidebar-toggler-text-collapsed: #91D6FF;

    --color-menu-bg: #2C4A7C;
    --color-menu-default-text: #CEEDFF;
    --color-menu-default-bg-hover: #365891;

    --color-pills-bg: #27354D;
    --color-pills-border: #264564;
    /*--color-pills-bg-active: (accent primary);*/
    --color-pills-bg-hover: #333;

    --color-tabs-active-bg: #252A33;
    --color-tabs-active-text: #EAEEFF;
    /*--color-tabs-active-border: (no border);*/

    --color-section-header-bg-hover: #2B3340;
    --color-section-body-bg: #252A33;

    --color-footer-gradient: #252A33;
    --color-footer-separator: #374152;
    --color-footer-column-header: #B2C9DD;

    --color-section-header-bg: #252B36;
    --color-section-header-text: var(--color-accent-primary);

    --color-form-element-text: #c0c0c0;
    --color-form-element-bg: #333d4f;
    --color-form-element-border: #64738D;
    --color-form-checkbox: #365891;

    --color-btn-default-bg: #27354D;
    --color-btn-default-text: #91D6FF;
    --color-btn-default-border: #2A3A54;
    --color-btn-primary-bg: #39598E;
    --color-btn-primary-text: #FFFFFF;
    --color-btn-primary-border: #3E619C;
    --color-btn-warning-bg: #c57300;
    --color-btn-warning-text: #fff8c2;
    --color-btn-warning-border: #c57300;
}

HTML{
    color-scheme: dark;
}

.breadcrumb > LI{
    text-shadow: none;
}

#footer{
    border: none;
    box-shadow: none;
    color: inherit;
}

.nav > LI > A:hover,
.nav > LI > A:focus{
    background: #2C4A7C;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav>li.dropdown.open.active>a:hover,
.nav>li.dropdown.open.active>a:focus{
    background: #39598E;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus{
    background: #365891;
}

#app-mainnav .nav > LI.dropdown > A.nav-group-active, #app-mainnav .nav > LI.active > A{
    border-color: #264564;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus{
    border: none;
}

.section .body-wrapper .tab-toolbar{
    background: transparent;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus{
    border-color: transparent;
}

.nav-tabs{
    border: none;
}

.help-block{
    color: inherit;
    opacity: 0.7;
}

.dropdown-menu .divider{
    background: #27354D;
    border-bottom-color: #27354D;
}
