
.title-wrapper-subtitle .title-right .quick-selector {
    margin-top: 30px;
}

.quick-selector.size-small .quick-selector-select {
    width: 160px;
    height: 26px;
    font-size: var(--font-size-s);
}

.quick-selector.size-small .add-on {
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    font-size: var(--font-size-s);
}

.quick-selector.size-small BUTTON {
    padding-left: 4px !important;
    padding-right: 4px !important;
}