:root{
    --item-padding: 0.3rem;
    --item-spacing: 0.6rem;
    --item-indent: 1.4rem;
    --item-indent-negative: -1.4rem;
}

.tags-tree-wrapper{
    margin-left: var(--item-indent-negative);
}

UL.tags-tree{
    list-style: none;
    margin:0 0 0 var(--item-indent);
    padding: 0;
}

UL.tags-tree LI{
    padding:0;
    margin: 0 0 var(--item-spacing) 0;
}

UL.tags-tree.with-subtags > LI > UL{
    margin-top: var(--item-spacing);
}

.tag-label {
    display: inline-block;
    padding: var(--item-padding) 8px;
    border-radius: var(--border-radius-normal);
    background-color: var(--color-bg-highlight);
}

.tag-label:hover{
    background-color: var(--color-bg-highlight-hover);
}

.tag-label > A{
    color: var(--color-text);
    text-decoration: none;
}

.tag-label > A > I{
    color: var(--color-text-muted);
}

.tag-label.root > A > I{
    color: var(--color-text-inverted-muted);
}

.tag-entry.root > .tag-label{
    font-weight: var(--font-weight-bold);
}

.tag-entry.root > .tag-label{
    background-color: var(--color-bg-success-xl);
}

.tag-entry.root > .tag-label > A{
    color: var(--color-text-inverted);
}

LI.tag-entry.active > .tag-label{
    font-weight: var(--font-weight-bold);
    background-color: var(--color-bg-highlight-info);
}

LI.tag-entry.active:hover > .tag-label{
    background-color: var(--color-bg-highlight-info-hover);
}

.tag-entry-actions{
    display:inline-block;
    margin-left: 8px;
}
